* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--bg-body);
}

:root {
  --bg-orange: #ff4d00;
  --bg-dark: #111111;
  --bg-body: #1a1c20;
  --font-primary: 'Montserrat', sans-serif;
}